.App {
  text-align: center;
}

.App button {
  margin-top: 20px;
  height: 42px;
  /* padding: 10px; */
  border: none;
  border-radius: 5px;
  /* width: 12px; */
  cursor: pointer;
  font-size: 18px;
}